# Dataframe 1

### Encuesta CEP

El Centro de Estudios Públicos (CEP) es una institución chilena que realiza periódicamente encuestas de opinión pública para medir la percepción y actitudes de la población en temas políticos y sociales. Estas encuestas son ampliamente reconocidas en Chile y se utilizan como una fuente importante de información para entender el estado de la opinión pública en el país.

Está encuesta se realiza 2 veces al año con una muestra de alrededor de 1.500 encuestas.

Cuento con las bases de datos de las últimas 8 encuestas y me gustaría hacer un análisis de la evulución de los resultados.

In [9]:
import pandas as pd

In [14]:
url = "https://raw.githubusercontent.com/fgr-coderhouse/coderhouse/main/datasets/cep/base_87.csv"

In [15]:
df = pd.read_csv(url, encoding='latin-1', sep=',')

In [16]:
df.head()

,Unnamed: 0,info_enc_30,info_enc_30_otro,mesp_112,mesp_113,esp_1,esp_8,esp_9,esp_69,esp_114_a,...,zona_u_r,id_region,region,id_estrato,estrato,encuesta,encuesta_a,encuesta_m,secu,pond
0,1,5,NaN,2.0,NaN,1,3,1,1,2,...,1,10,LOS LAGOS,6,Costa sur,87,2022,7,87118,2.342495
1,2,5,NaN,1.0,9.0,1,2,3,2,1,...,2,14,LOS RÃOS,8,Percordillera sur,87,2022,7,87520,0.349626
2,3,5,NaN,2.0,NaN,2,3,7,2,2,...,1,10,LOS LAGOS,7,Lagos sur,87,2022,7,87116,3.698919
3,4,5,NaN,2.0,NaN,2,5,5,1,2,...,1,9,ARAUCANÃA,3,Valle central,87,2022,7,87079,1.254252
4,5,5,NaN,1.0,1.0,1,5,1,1,1,...,1,9,ARAUCANÃA,3,Valle central,87,2022,7,87060,1.658597

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2915 entries, 0 to 2914
Columns: 219 entries, Unnamed: 0 to pond
dtypes: float64(81), int64(136), object(2)
memory usage: 4.9+ MB

# Dataframe 2

## Diccionario de datos

1. age (numeric)
2. job : type of job (categorical: "admin.","blue-collar","entrepreneur","housemaid","management","retired","self-employed","services","student","technician","unemployed","unknown")
3. marital : marital status (categorical: "divorced","married","single","unknown"; note: "divorced" means divorced or widowed)
4. education (categorical: "basic.4y","basic.6y","basic.9y","high.school","illiterate","professional.course","university.degree","unknown")
5. default: has credit in default? (categorical: "no","yes","unknown")
6. housing: has housing loan? (categorical: "no","yes","unknown")
7. loan: has personal loan? (categorical: "no","yes","unknown")

### related with the last contact of the current campaign:

8. contact: contact communication type (categorical: "cellular","telephone") 
9. month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
10. day_of_week: last contact day of the week (categorical: "mon","tue","wed","thu","fri")
11. duration: last contact duration, in seconds (numeric). Important note:  this attribute highly affects the output target (e.g., if duration=0 then y="no"). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.

### other attributes:

12. campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13. pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14. previous: number of contacts performed before this campaign and for this client (numeric)
15. poutcome: outcome of the previous marketing campaign (categorical: "failure","nonexistent","success")

### social and economic context attributes

16. emp.var.rate: employment variation rate - quarterly indicator (numeric)
17. cons.price.idx: consumer price index - monthly indicator (numeric)     
18. cons.conf.idx: consumer confidence index - monthly indicator (numeric)     
19. euribor3m: euribor 3 month rate - daily indicator (numeric)
20. nr.employed: number of employees - quarterly indicator (numeric)

### Output variable (desired target):
21. y - has the client subscribed a term deposit? (binary: "yes","no")

In [19]:
url2 = 'https://raw.githubusercontent.com/fgr-coderhouse/coderhouse/main/datasets/bank/bank.csv'

In [22]:
df2 = pd.read_csv(url2, encoding='latin-1', sep=';')

In [23]:
df2.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int64
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int64
 11  campaign        4119 non-null   int64
 12  pdays           4119 non-null   int64
 13  previous        4119 non-null   int64
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float64
 16  cons.price.idx  4119 non-null   float64
 17  cons.conf.idx   4119 non-null   float64
 18  euribor3m       4119 non-null   float64
 19  nr.employed     4119 non-null   float64
 20  y               4119 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB

# Dataframe 3

Base de datos con los resultado de los partidos de tenis

In [25]:
url3 = 'https://raw.githubusercontent.com/fgr-coderhouse/coderhouse/main/datasets/tennis/atp_matches_2021.csv';

In [26]:
df3 = pd.read_csv(url3, encoding='latin-1', sep=',')

In [ ]:
df3.head()