# Dataframe 1

### Estudio de satisfacción con Sistema de Salud en Chile 2019

Evaluar el grado de satisfacción, percepción de protección y experiencia que los usuarios del FONASA y de las ISAPRE abiertas tienen sobre su Sistema de Salud, los esquemas de aseguramiento, los prestadores de salud, el GES y la Ley Ricarte Soto. Periodo de medición: entre el 10/11/2019 y el 23/13/2019.

### Diccionario de datos

|campo|tipo|detalle|
|:----|:----|:----|
|ESTUDIO|Cadena|Código del estudio|
|PONDERADOR|Numérico|PONDERADOR|
|REGION_DEF|Numérico| |
|F0|Numérico| |
|COMUNA_DEF|Numérico| |
|A_EXACTA|Numérico|Edad Exacta|
|A_RANGO|Numérico|Edad Rango|
|F3_SEXO|Numérico|Sexo|
|N_HOGAR|Numérico|N° integrantes de hogar|
|N_AFILIADOS|Numérico|N° afiliados|
|SEXO_1|Numérico|Sexo|
|EDAD_1|Numérico|Edad|
|AFI_1|Numérico|Afiliado|
|SEXO_2|Numérico|Sexo|
|EDAD_2|Numérico|Edad|
|AFI_2|Numérico|Afiliado|
|SEXO_3|Numérico|Sexo|
|EDAD_3|Numérico|Edad|
|AFI_3|Numérico|Afiliado|
|SEXO_4|Numérico|Sexo|
|EDAD_4|Numérico|Edad|
|AFI_4|Numérico|Afiliado|
|SEXO_5|Numérico|Sexo|
|EDAD_5|Numérico|Edad|
|AFI_5|Numérico|Afiliado|
|SEXO_6|Numérico|Sexo|
|EDAD_6|Numérico|Edad|
|AFI_6|Numérico|Afiliado|
|SEXO_7|Numérico|Sexo|
|EDAD_7|Numérico|Edad|
|AFI_7|Numérico|Afiliado|
|SEXO_8|Numérico|Sexo|
|EDAD_8|Numérico|Edad|
|AFI_8|Numérico|Afiliado|
|SEXO_9|Numérico|Sexo|
|EDAD_9|Numérico|Edad|
|AFI_9|Numérico|Afiliado|
|SEXO_10|Numérico|Sexo|
|EDAD_10|Numérico|Edad|
|AFI_10|Numérico|Afiliado|
|SELECCION|Numérico|Selección|

In [9]:
import pandas as pd

In [28]:
url = "https://raw.githubusercontent.com/fgr-coderhouse/coderhouse/main/datasets/estudio_satisfacci%C3%B3n_con_sistema_salud_chile_2019/base_encuesta.csv"

In [32]:
df = pd.read_csv(url, sep=';')

In [33]:
df.head()

,ESTUDIO,PONDERADOR,REGION_DEF,F0,A_EXACTA,A_RANGO,F3_SEXO,N_HOGAR,N_AFILIADOS,SEXO_1,...,B2_dico,a10_bajoscostos,a11_espera,a11_sinespecialistas,a12_cobertura,a13_costos,C6_rec,filter_$,PredictedValue,PredictedValue_1
0,15516_SALUD_REGIONES,"1,290513883",4.0,1.0,50.0,2.0,2.0,3.0,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15516_SALUD_REGIONES,"3,449630486",5.0,1.0,67.0,3.0,2.0,4.0,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15516_SALUD_REGIONES,"1,883777113",2.0,1.0,45.0,2.0,2.0,2.0,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15516_SALUD_REGIONES,"3,852980523",10.0,1.0,21.0,1.0,2.0,4.0,3,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15516_SALUD_VF,"1,459851939",13.0,1.0,86.0,3.0,2.0,2.0,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1546 entries, 0 to 1545
Columns: 319 entries, ESTUDIO to PredictedValue_1
dtypes: float64(93), object(226)
memory usage: 3.8+ MB

# Dataframe 2

## Diccionario de datos

1. age (numeric)
2. job : type of job (categorical: "admin.","blue-collar","entrepreneur","housemaid","management","retired","self-employed","services","student","technician","unemployed","unknown")
3. marital : marital status (categorical: "divorced","married","single","unknown"; note: "divorced" means divorced or widowed)
4. education (categorical: "basic.4y","basic.6y","basic.9y","high.school","illiterate","professional.course","university.degree","unknown")
5. default: has credit in default? (categorical: "no","yes","unknown")
6. housing: has housing loan? (categorical: "no","yes","unknown")
7. loan: has personal loan? (categorical: "no","yes","unknown")

### related with the last contact of the current campaign:

8. contact: contact communication type (categorical: "cellular","telephone") 
9. month: last contact month of year (categorical: "jan", "feb", "mar", ..., "nov", "dec")
10. day_of_week: last contact day of the week (categorical: "mon","tue","wed","thu","fri")
11. duration: last contact duration, in seconds (numeric). Important note:  this attribute highly affects the output target (e.g., if duration=0 then y="no"). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.

### other attributes:

12. campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13. pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14. previous: number of contacts performed before this campaign and for this client (numeric)
15. poutcome: outcome of the previous marketing campaign (categorical: "failure","nonexistent","success")

### social and economic context attributes

16. emp.var.rate: employment variation rate - quarterly indicator (numeric)
17. cons.price.idx: consumer price index - monthly indicator (numeric)     
18. cons.conf.idx: consumer confidence index - monthly indicator (numeric)     
19. euribor3m: euribor 3 month rate - daily indicator (numeric)
20. nr.employed: number of employees - quarterly indicator (numeric)

### Output variable (desired target):
21. y - has the client subscribed a term deposit? (binary: "yes","no")

In [19]:
url2 = 'https://raw.githubusercontent.com/fgr-coderhouse/coderhouse/main/datasets/bank/bank.csv'

In [22]:
df2 = pd.read_csv(url2, encoding='latin-1', sep=';')

In [23]:
df2.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [24]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int64
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int64
 11  campaign        4119 non-null   int64
 12  pdays           4119 non-null   int64
 13  previous        4119 non-null   int64
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float64
 16  cons.price.idx  4119 non-null   float64
 17  cons.conf.idx   4119 non-null   float64
 18  euribor3m       4119 non-null   float64
 19  nr.employed     4119 non-null   float64
 20  y               4119 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB

# Dataframe 3

Base de datos con los resultado de los partidos de tenis

In [25]:
url3 = 'https://raw.githubusercontent.com/fgr-coderhouse/coderhouse/main/datasets/tennis/atp_matches_2021.csv';

In [26]:
df3 = pd.read_csv(url3, encoding='latin-1', sep=',')

In [ ]:
df3.head()